<div class="tab-card custm_searchh">
  <div class="buzz_header">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="outstation-tab" data-toggle="tab" href="#outstation" role="tab" aria-controls="outstation-tab" aria-selected="true">
          <i class="material-icons">location_city</i>Hotel Booking</a>
      </li>
      <li class="nav-item" onclick="showlocal();">
        <a class="nav-link" id="local-tab" onclick="tabcheck();return false;" data-toggle="tab" href="#local" role="tab" aria-controls="local" aria-selected="false">
          <i class="material-icons">directions_car</i>Local Package</a>
      </li>
      <li class="nav-item" onclick="showlocal();">
        <a class="nav-link" id="transfer-tab" onclick="tabcheck();return false;" data-toggle="tab" href="#transfer" role="tab" aria-controls="local" aria-selected="false">
          <i class="material-icons">directions_car</i>Airport Transfer</a>
      </li>
    </ul>
  </div>

  <div class="tab-content tb_con" id="myTabContent">
    <div class="tab-pane fade show active" id="outstation" role="tabpanel" aria-labelledby="outstation-tab">
      <nav class="tab_cen">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="one-way-tab" data-toggle="tab" href="#one-way" role="tab" aria-controls="one-way" aria-selected="true">One Way</a>
          <a class="nav-item nav-link" id="round-trip-tab" data-toggle="tab" href="#round-trip" role="tab" aria-controls="round-trip" aria-selected="false">Round Trip</a> 
        </div>
      </nav>

      <div class="tab-content" id="nav-tabContent">
        <!-- One Way Tab -->
        <div class="tab-pane fade show active" id="one-way" role="tabpanel" aria-labelledby="one-way-tab">
          <form method="get" action="/hotel/search_result">
            <div class="row">
              <div class="col-md-12 col-12 col-lg-12 mb_10">
                <input type="text" name="hotel" required class="form-control" placeholder="Hotel Name">
                <i class="material-icons">room</i>
              </div>
              <div class="col-md-6 col-12 col-lg-6 pr-0 mb_10">
                <input class="form-control datetimepickerON" name="check_in_date" required id="datepicker" value="2025-01-14" type="text" placeholder="Choose Check-in Date" data-dtp="dtp_te2B6">
                <i class="material-icons">event</i>
              </div>
              <div class="col-md-6 col-12 col-lg-6 mb_10">
                <input name="check_in_time" class="form-control br-none timeON" id="datetimepickernew" type="text" placeholder="Choose Check-in Time" data-dtp="dtp_9bkxX">
                <i class="material-icons">schedule</i>
              </div>
              <div class="col-md-12 col-12 col-lg-12">
                <input type="submit" class="default-btn btn-bg-two border-radius-50" value="Search Room">
              </div>
            </div>
          </form>
        </div>

        <!-- Round Trip Tab -->
        <div class="tab-pane fade" id="round-trip" role="tabpanel" aria-labelledby="round-trip-tab">
          <form method="get" action="/hotel/search_result">
            <div class="row">
              <div class="col-lg-12 mb_10">
                <input type="text" name="hotel" id="hotel_location" required class="form-control" placeholder="Hotel Name">
                <i class="material-icons">room</i>
              </div>
              <div class="col-lg-4 pr-0 mb_10">
                <input class="form-control dateOU" name="check_in_date" id="datepicker3" required value="2025-01-14" type="text" placeholder="Check-in Date" data-dtp="dtp_te2B6">
                <i class="material-icons">event</i>
              </div>
              <div class="col-lg-4 mb_10">
                <input name="check_in_time" class="form-control br-none timeOU" id="datetimepickernew1" required type="text" placeholder="Choose Time" data-dtp="dtp_9bkxX">
                <i class="material-icons">schedule</i>
              </div>
              <div class="col-lg-4 mb_10">
                <input class="form-control" name="check_out_date" required value="2025-01-15" id="datepicker4" type="text" placeholder="Check-out Date" data-dtp="dtp_te2B6">
                <i class="material-icons">event</i>
              </div>
              <div class="col-md-12 col-12 col-lg-12">
                <input type="submit" class="default-btn btn-bg-two border-radius-50" value="Search Room">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Airport Transfer Tab -->
    <div class="tab-pane fade" id="transfer" role="tabpanel" aria-labelledby="transfer-tab">
      <form method="get" action="/hotel/search_result">
        <div class="row">
          <div class="col-md-12 col-12 col-lg-12 mb_10">
            <input type="text" name="pickup_city" required class="form-control" placeholder="Pickup City">
            <i class="material-icons">room</i>
          </div>
          <div class="col-md-12 col-12 col-lg-12 mb_10">
            <select name="pickup_type" required class="form-control">
              <option value="Pickup">Pickup</option>
              <option value="Drop">Drop</option>
            </select>
            <i class="material-icons">room</i>
          </div>
          <div class="col-md-12 col-12 col-lg-12 mb_10">
            <select name="destination" required class="form-control">
              <option value>Select Airport</option>
              <option value="Sardar Vallabhbhai Patel International Airport, Ahmedabad">Sardar Vallabhbhai Patel International Airport, Ahmedabad</option>
              <option value="Surat International Airport, Surat">Surat International Airport, Surat</option>
              <option value="Vadodara Airport, Vadodara">Vadodara Airport, Vadodara</option>
              <!-- More options -->
            </select>
            <i class="material-icons">room</i>
          </div>
          <div class="col-md-6 col-12 col-lg-6 pr-0 mb_10">
            <input class="form-control dateTF" name="pickup_date" required value="14/01/2025" id="datepicker2" type="text" placeholder="Pickup Date" data-dtp="dtp_te2B6">
            <i class="material-icons">event</i>
          </div>
          <div class="col-md-6 col-12 col-lg-6 mb_10">
            <input name="pickup_time" class="form-control br-none timeTF" id="datetimepickernew4" type="text" placeholder="Pickup Time" data-dtp="dtp_9bkxX">
            <i class="material-icons">schedule</i>
          </div>
          <div class="col-md-12 col-12 col-lg-12">
            <input type="submit" class="default-btn btn-bg-two border-radius-50" value="Search Transfer">
          </div>
        </div>
      </form>
    </div>

    <!-- Local Package Tab -->
    <div class="tab-pane fade" id="local" role="tabpanel" aria-labelledby="local">
      <form method="get" action="/hotel/search_result">
        <div class="row">
          <div class="col-md-12 col-12 col-lg-12 mb_10">
            <select name="package" class="form-control localpackage">
              <option value selected="selected">-- Select Package --</option>
              <!-- Package options dynamically populated -->
            </select>
            <i class="material-icons">room</i>
          </div>
          <div class="col-md-12 col-12 col-lg-12 mb_10">
            <input class="form-control dateLL" name="check_in_date" required id="datepicker1" value="14-01-2025" type="text" placeholder="Check-in Date" data-dtp="dtp_te2B6">
            <i class="material-icons">event</i>
          </div>
          <div class="col-md-6 col-12 col-lg-6 mb_10">
            <input name="check_in_time" class="form-control br-none timeLL" id="datetimepickernew3" type="text" placeholder="Check-in Time" data-dtp="dtp_9bkxX">
            <i class="material-icons">schedule</i>
          </div>
          <div class="col-md-12 col-12 col-lg-12">
            <input type="submit" class="default-btn btn-bg-two border-radius-50" value="Search Room">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
