<div class="tab-card custm_searchh">
  <div class="buzz_header">
  <ul class="nav nav-tabs justify-content-start" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="outstation-tab" data-toggle="tab" href="#outstation" role="tab" aria-controls="outstation-tab" aria-selected="true">
      <i class="material-icons">location_city</i>Hotel Booking</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="local-tab" data-toggle="tab" href="#local" role="tab" aria-controls="local" aria-selected="false">
      <i class="material-icons">directions_car</i>Packages</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="transfer-tab" data-toggle="tab" href="#transfer" role="tab" aria-controls="transfer" aria-selected="false">
      <i class="material-icons">directions_car</i>Pickup Service</a>
  </li>
</ul>

  </div>

  <div class="tab-content tb_con" id="myTabContent">
    <div class="tab-pane fade show active" id="outstation" role="tabpanel" aria-labelledby="outstation-tab">
      <div class="room_search">
        <div class="container">
          <form method="get" action="/search_result">
            <div class="row">
              <!-- Hotel City Selection -->
              <div class="col-md-12 col-lg-12 mb_10">
                <input type="text" name="city" class="form-control" placeholder="Hotel City" required>
                <i class="material-icons">room</i>
              </div>
              <!-- Check-in Date -->
              <div class="col-md-6 col-lg-6 mb_10">
                <input class="form-control" name="check_in" type="text" placeholder="Check-in Date" required>
                <i class="material-icons">event</i>
              </div>
              <!-- Check-out Date -->
              <div class="col-md-6 col-lg-6 mb_10">
                <input class="form-control" name="check_out" type="text" placeholder="Check-out Date" required>
                <i class="material-icons">event</i>
              </div>
              <!-- Number of Guests -->
              <div class="col-md-12 col-lg-12 mb_10">
                <input class="form-control" name="guest_count" type="number" placeholder="Number of Guests" required>
                <i class="material-icons">people</i>
              </div>
              <!-- Room Type -->
              <div class="col-md-12 col-lg-12 mb_10">
                <select name="room_type" class="form-control" required>
                  <option value="single">Single</option>
                  <option value="double">Double</option>
                  <option value="suite">Suite</option>
                </select>
                <i class="material-icons">hotel</i>
              </div>
              <!-- Submit Button -->
              <div class="col-md-12 col-lg-12">
                <input type="submit" class="default-btn btn-bg-two border-radius-50" value="Search Room">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    
    <!-- Local Packages Tab -->
    <div class="tab-pane fade" id="local" role="tabpanel" aria-labelledby="local-tab">
      <!-- Local search form, adjusted for hotel-specific fields -->
      <div class="room_search">
        <div class="container">
          <form method="get" action="/search_result">
            <div class="row">
              <div class="col-md-12 col-lg-12 mb_10">
                <select name="local_package" class="form-control" required>
                  <option value="">-- Select Local Package --</option>
                  <option value="local1">Local Package 1</option>
                  <option value="local2">Local Package 2</option>
                  <!-- Dynamically populate packages here -->
                </select>
                <i class="material-icons">room</i>
              </div>
              <div class="col-md-6 col-lg-6 mb_10">
                <input class="form-control" name="check_in" type="text" placeholder="Check-in Date" required>
                <i class="material-icons">event</i>
              </div>
              <div class="col-md-6 col-lg-6 mb_10">
                <input class="form-control" name="check_out" type="text" placeholder="Check-out Date" required>
                <i class="material-icons">event</i>
              </div>
              <div class="col-md-12 col-lg-12">
                <input type="submit" class="default-btn btn-bg-two border-radius-50" value="Search Room">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    
    <!-- Airport Transfer Tab -->
    <div class="tab-pane fade" id="transfer" role="tabpanel" aria-labelledby="transfer-tab">
      <!-- Airport transfer search form -->
      <div class="room_search">
        <div class="container">
          <form method="get" action="/search_result">
            <div class="row">
              <div class="col-md-12 col-lg-12 mb_10">
                <input type="text" name="pickup_city" class="form-control" placeholder="Pickup City" required>
                <i class="material-icons">room</i>
              </div>
              <div class="col-md-12 col-lg-12 mb_10">
                <select name="pickup_type" class="form-control" required>
                  <option value="pickup">Pickup</option>
                  <option value="drop">Drop</option>
                </select>
                <i class="material-icons">room</i>
              </div>
              <div class="col-md-12 col-lg-12 mb_10">
                <select name="destination" class="form-control" required>
                  <option value="airport1">Airport 1</option>
                  <option value="airport2">Airport 2</option>
                  <!-- Dynamically populate airports here -->
                </select>
                <i class="material-icons">room</i>
              </div>
              <div class="col-md-6 col-lg-6 mb_10">
                <input class="form-control" name="pickup_date" type="text" placeholder="Pick-up Date" required>
                <i class="material-icons">event</i>
              </div>
              <div class="col-md-6 col-lg-6 mb_10">
                <input class="form-control" name="pickup_time" type="text" placeholder="Pick-up Time" required>
                <i class="material-icons">schedule</i>
              </div>
              <div class="col-md-12 col-lg-12">
                <input type="submit" class="default-btn btn-bg-two border-radius-50" value="Search Transfer">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
